.wrapper {
  width: 100%;
  // border: 5px solid peachpuff;
}

.main {
  // border: 5px solid olive;
  margin-left: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  // display: flex;
  margin: auto;
  border: 5px solid plum;
  padding: 1% 0;
  width: 85%;
}

.intro {
  display: flex;
  align-items: center;
  height: 100vh;
  border: 5px solid olive;
}

.services {
  @include grid-column(12);

}

.skill {
  border: 5px solid tomato;
  @include grid-column(6);
  padding: 1%;
}
