p, li {
  font-family: $body-font;
}

::selection {
  background-color: green;
  color: white;
}

.wrapper {
  width: 100%;
  // border: 5px solid peachpuff;
}

.main {
  // border: 5px solid olive;
  margin-left: 30vw;
  display: flex;
}

.main-content {
  margin: auto;
  // border: 5px solid plum;
  padding: 0;
  width: 85%;
}
