
form {
  @include grid-column(6);
  // border: 5px solid tomato;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
}
textarea {
  height: 100px;
}
input:first-of-type
{
  margin-top:35px;
}
input, textarea {
  font-size: 0.6em;
  padding: 15px 10px 10px;
  border: 1px solid $white;
  background: darken($white, 10%);
  color: #777;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
::-webkit-input-placeholder {
   color: #888;
}
:-moz-placeholder {
   color: #888;
}
::-moz-placeholder {
   color: #888;
}
:-ms-input-placeholder {
   color: #888;
}
.submit {
  text-align: center;
  background-color:#777;
  padding: 10px 50px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid darken($white, 20%);
  transition: .3s;
  display: inline-block;
  cursor: pointer;
  width: 50%;
  color: $white;
}
button:hover, .button:hover {
  background: #444;
}
label.error {
  font-size: 1em;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #999;
  width: 80%;
  margin: auto;
  color: $white;
  border-radius:6px;
}
/* media queries */
@media (max-width: 700px) {
  label.error {
    width: 90%;
  }
  input, textarea {
    width: 90%;
  }
  button {
    width: 90%;
  }
  body {
  padding-top:10px;
  }
}
.message {
    font-size: 1.1em;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #777;
    width: 100vw;
    border-radius: 6px;
}
