 body {
   background-color: $white;
   color: #333;
   font-size: 1.4em;
   letter-spacing: 0.015em;
 }

 p, li {
   font-family: $body-font;
 }

a {
  font-family: $body-font;
  text-decoration: none;
  color: #663399;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: darken(#663399, 15%);
    transform: translateY(-.1em);
  }
}

 nav a, nav li
   {
   transition: all 0.2s ease-in-out;
   &:hover {
     color: #333;
     transform: translateY(-.1em);
     opacity: 0.6;
   }
   &:visited {
     color: $white;
   &:active {
     color: #333;
   }
  }
 }

 i:hover {
   color: $white;
 }

 ::selection {
   background-color: #663399;
   color: white;
 }

 h2 {
   font-family: $brand-font;
   margin-bottom: 0;
 }
